<div class="col-md-12">
  <div class="well">
  <h3><%= link_to task.description, task,  remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
  <p><%= task.deadline.strftime('%B %d, %Y') %></p>
  <p class="pull-right">
  	 <%= link_to "Edit", edit_task_path(task), remote: true %> 
	</p>
    </div>
</div>